<h1>Report #<%= @report.id %></h1>

<div class="report">
  <%= image_tag @report.image.url %>

  <div class="report-score">
    <%= score(@report) %>
  </div>

  <% if @report.evaluated? %>
    <div class="report-form">
      <%= form_with model: @report do |form| %>
        <%= form.select :result, {"Reject": "rejected", "Approve": "approved"}, selected: 'Approve' %>
        <%= form.submit %>
      <% end %>
    </div>
  <% end %>
</div>
