<h1>Report #@report.id</h1>

<div>
  <%= image_tag @report.image.url %>
</div>

<div>
  <%= @report.graphic_score || 'Not evaluated yet' %>
</div>

<div>
  <%= form_with model: @report do |form| %>
    <%= form.select :result, {"Reject": "rejected", "Approve": "approved"}, selected: 'Approve' %>
    <%= form.submit %>
  <% end %>
</div>
